<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title>Email Scheduler</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	<script type="text/javascript" th:src="@{/js/functions.js}"></script>
</head>
<body>
	<img class="mainframe" src="/images/mask.jpg" />
	<div class="hidingdiv1"></div>
	<div class="hidingdiv2"></div>
	<img class="cupcake" src="/images/maincake.gif" />
	<img class="stackcake" src="/images/stackcake.gif" />
	<img class="eyecake" src="/images/eyecupcake.gif" />
	<img class="baloon1" src="/images/baloons.gif" />
	<img class="baloon2" src="/images/baloons.gif" />
	<img class="baloon3" src="/images/baloons.gif" />
	<img class="family" src="/images/family.gif" />
	<a th:href="@{/editemployees}"><img class="frame1" src="/images/frame.png" /></a>
	<img class="gears" src="/images/gears.gif" />
	<a th:href="@{/editproperties}"><img class="frame2" src="/images/frame.png" /></a>
	<img id="birthdayscrollIndex" src="/images/bdayscroll.png" />
	<img id="propertiesscrollIndex" src="/images/propertiesscroll.png" />
</body>
</html>